body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul li a {
  text-decoration: none;
  color: #233863;
}
h1 {
  font-size: 2em;
}

.FPT{
  margin-bottom: 11px;
}

.sidebar {
  background-color: #fff;
  display: block;
  z-index: 11;
  position: fixed;
  width: 280px;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.inner {
  padding: 10px;
}

.inner h4 {
  text-transform: uppercase;
  color: #4e4e4e;
}

.inner ul {
  padding-left: 0px;
}

.inner ul li {
  list-style: none;
  line-height: 40px;
  padding-left: 30px;
}

.inner ul .inner-active {
  background: #2b468b;
  color: #fafafa;
  border-radius: 8px;
}

.inner ul .inner-active a {
  color: #fafafa;
}

.inner ul li a {
  text-decoration: none;
  color: #233863;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.main-content {
  background-color: #f9f9f9;
  position: relative;
  z-index: 10;
  height: 100%;
  margin-left: 320px;
}

.main-content .menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 20px;
  align-items: center;
  margin-bottom: 40px;
  
}

.main-content .menu img {
  padding-left: 30px;
}

.main-content .menu .img1{
  width: 25px;
  height: 25px;
}

.main-content .menu .img3{
  width: 35px;
  height: 35px;
}

.main-content .content {
  padding: 30px 50px 0px 50px;
}

.main-content .content .content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.main-content .content .content-title h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #202020;
}

.main-content .content .content-title ul {
  display: flex;
  padding-left: 100px;
}

.main-content .content .content-title ul .content-title-active {
  color: #202020;
  font-weight: bold;
}

.main-content .content .content-title ul li {
  list-style: none;
  padding-right: 50px;
}

.main-content .content .content-title ul li a {
  color: #898989;
}

.flex{
  margin-top: 30px;
}

.inner-all{
  margin-top: 60px;
}

.content{
  margin-right: 30px;
}

.main-content .content .content-title button {
  width: 50px;
  height: 25px;
  border: 1px solid #2b468b;
  color: #2b468b;
  background: #fff;
  border-radius: 3px;
}

.left-inf{
  margin-left: 20px;
}



.white-box {
  padding: 30px;
  margin-bottom: 25px;
  background-color: #fff;
  box-shadow: 0 0 24px hsl(0deg 0% 4% / 15%);
  border-radius: 10px;
}

.flex {
  display: flex;
}

.main-content .content .flex .col-6 {
  width: 65%;
}

.main-content .content .flex .col-6 img{
  width: 100%;
}

.main-content .content .flex .col-3 {
  width: 35%;
}

.anchor {
  padding: 20px 0;
  border-bottom: 2px solid #ddd;
}

.anchor a {
  text-decoration: none;
  color: #1c7ed6;
}

.text-code {
  background: #f8f9fa;
  width: 400px;
  /* height: 25px; */
  padding: 10px;
}

.code {
  background: #f8f9fa;
  padding: 10px;
}

.order-list {
  padding-left: 10px;
  margin-left: 15px;
}

.order-list li {
  list-style: auto;
  line-height: 25px;
}

.itself p {
  padding-left: 10px;
  border-left: 2px solid #ddd;
}

.info-head {
  display: flex;
  justify-content: space-between;
}

.info-head h3 {
  margin-bottom: 10px;
}

.highest {
  background: #fcf4b2;
  color: #e39f48;
  border-radius: 5px;
  padding: 5px 7px;
}

.info-content{
    display: flex;
    padding: 10px 0;
}

.info-main p{
    margin: 5px;
    margin-left: 20px;
}

.info-footer{
    display: flex;
    justify-content: space-between;
}

.info-footer-main p:first-child{
    font-weight: 500s;
}