.search-btn {
    background-color: #D7D7FF
}

.sidebar-tournament {
    background-color: #C0C0FF
}

.sidebar-selectedTournament {
    background-color: #E1E1FF
}

.tournament-block {
    background-color: white;
}